@import url('https://fonts.googleapis.com/css2?family=Eater&family=Lora&family=Love+Ya+Like+A+Sister&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: black;
}

h1, h2 {
    font-family: 'Love Ya Like A Sister', sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 450%;
    margin-left: 25px;
    padding: 30px;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    font-family: 'Love Ya Like A Sister', sans-serif;
    padding: 30px;
}


#menu, #logo {
    line-height: 75px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration:none;
    color: inherit;
}

#menu a:hover {
    font-family: 'Eater', sans-serif;
}

#cover-text, #cover-text h2 {
    color: black;
}

/* Hero Image -- Using Love Running as guide and template*/

#hero-outer {
    height: 600px;
    width: 100%;
    clear: both;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}

/* Cover Text -- Using Love Running as guide and template*/

#cover-text {
    font-size: 130%;
    font-family: 'Love Ya Like A Sister', sans-serif;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(255,255,255, 1);

    bottom: 350px;
    right: 650px;
    position: absolute;

    animation-name: cover-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

/* Creates the level of zoom for Cover Text -- Using Love Running Her Image animation as guide and template */

@keyframes cover-zoom {
    from{
transform: scale(0.1);
    }
    to{
transform: scale(1)
    }
}

/* Club Ethos -- Using Love Running as guide and template*/

#club-ethos h2 {
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#left-about {
    float: left;
    max-width: 25%;
    max-height: 300px;
    margin-left: 30px;
}

p {
    padding-bottom: 30px;
}

#center-about {
    float: left;
    max-width: 25%;
    max-height: 300px;
    margin-left: 75px;
} 

#center-about h3 {
    padding-bottom: 10px;
}

#left-about h3 {
    padding-bottom: 10px;
}

/* Youtube video */
#youtube {
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    bottom: 0;
    clear: both;
    padding: 75px;
}

#youtube h2 {
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    bottom: 0;
    clear: both;
    padding: 30px;
}



/* Game Times -- Using Love Running as guide and template -- Not floating right properly */

#times {
    margin: 0 auto;
    clear: both;
    float: right;
    padding: 30px;
    margin-right: 150px;
    display: inline-grid 
}

   #times h2 {
        margin: 0 auto;
    }
    
   #times div h2 {
        color: white;
        text-align: left; 
    }

    #times div {
        color: white;
        background-color: rgba(0, 0, 0, .6);
        width: 375px;
        height: 100px;
        padding: 30px 0 0 10px;
        text-align: left;
        border: 2px solid white;
        overflow: hidden;
        float: right;
        display: table-column-group;
    }

    #mon {
        background-image: url(../images/mon.gif);
    }
    
    #tues {
        background-image: url(../images/tues.gif);
    }

    #wed {
        background-image: url(../images/wed.gif);
    }

    #thur {
        background-image: url(../images/thurs.gif);
    }

    #fri {
        background-image: url(../images/fri.gif);
    }

    #sat {
        background-image: url(../images/sat.gif);
    }

    #sun {
        background-image: url(../images/sun.gif);
    }

/* footer -- not displaying in correct place */

footer {
    margin: 0 auto;
    text-align: center;
    width: 33%;
    padding: 20px;
  } 

.social-networks {
    text-align: left;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: black
}

.social-networks li {
    display: inline;
}

/* Sign Up Form -- https://www.freecodecamp.org/news/how-to-build-sign-up-form-with-html-and-css// */



.signupFrm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .title {
    font-size: 50px;
    margin-bottom: 50px;
  }

  .inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
/* Style the inputs */

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
  
/* Hide the placeholder texts (a) */
  
  ::placeholder {
    color: transparent;
  }

/* Styling text labels */

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: purple;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
  }
  
  .submitBtn:hover {
    background-color: #9867C5;
    transform: translateY(-2px);
  }

  .input:focus + .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
    color: purple;
  }

  .input:focus {
    border: 2px solid purple;
  }

  .input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }

/* Media queries -- Using Love running as guide and template*/
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #club-ethos h2 {
        padding: 30px 0;
        margin: 0%;
    }

    p {
        width: 65%;
        max-height: 10%;
        margin: 0 auto;
    }

    #left-about, #center-about {
        width: 100%;
        float: left;
        padding: 0;
        max-height: 150px;
    }


    #times {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        display: none;
    }

}

/* For medium screen sizes for, 950px wide and down -- Love Running Guide and Template */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: right;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 120px;
        margin: 0 auto;
    }

    .left-about h3, .center-about h3 {
        width: inherit;
        text-align: center;
    }

/* Text too long in responsive mode - Need help */
    .p {
        width: 100%;
        text-align: center;
        padding: 0 20px;
    }
    
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

