@import url('https://fonts.googleapis.com/css2?family=Eater&family=Lora&family=Love+Ya+Like+A+Sister&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: black;
}

h1, h2 {
    font-family: 'Love Ya Like A Sister', sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo {
    float: left;
    font-size: 450%;
    margin-left: 25px;
}

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    font-family: 'Love Ya Like A Sister', sans-serif;
}


#menu, #logo {
    line-height: 75px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration:none;
    color: inherit;
}

#menu a:hover {
    font-family: 'Eater', sans-serif;
}

#cover-text, #cover-text h2 {
    color: black;
}

/* Hero Image */

#hero-outer {
    height: 600px;
    width: 100%;
    clear: both;

    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image.jpg) no-repeat center center;
}


#cover-text {
    font-size: 130%;
    font-family: 'Love Ya Like A Sister', sans-serif;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(255,255,255, 1);

    bottom: 350px;
    right: 650px;
    position: absolute;

    animation-name: cover-zoom;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

/* creates the level of zoom for cover text */

@keyframes cover-zoom {
    from{
transform: scale(0.1);
    }
    to{
transform: scale(1)
    }
}

/* club ethos */

#club-ethos h2 {
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#left-about-one {
    float: left;
    max-width: 25%;
    max-height: 300px;
    margin-left: 30px;
}

p {
    padding-bottom: 30px;
}

#about-center-one {
    float: left;
    max-width: 25%;
    max-height: 300px;
    margin-left: 75px;
} 

#about-center-one h3 {
    padding-bottom: 10px;
}

#left-about-one h3 {
    padding-bottom: 10px;
}

#nice-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-width: 1px;
    float: right;
    margin-right: 250px;
}

#nice-cover-bg {
     background: url(../images/ethos-right-image1.jpg) no-repeat center center;
     height: 100%;
     
}